@import url(./__logo/form__logo.css);
@import url(./__item/form__item.css);
@import url(./__title/form__title.css);
@import url(./__input-name/form__input-name.css);
@import url(./__input/form__input.css);
@import url(./__button/form__button.css);
@import url(./__sublink/form__sublink.css);
@import url(./__link/form__link.css);
@import url(./__input-error/form__input-error.css);

.form {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    margin: 70px auto 0;
}