.films__save_delete {
    background: #F9F9F9;
    background-image: url(../../../../../images/delete_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}