.hero__nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.hero__nav-link:hover {
    opacity: .7;
    transition: opacity .2s ease-in;
}

@media screen and (max-width: 740px) {
    .hero__nav-link {
        font-size: 11px;
    }
}