.header__logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 60px;
    cursor: pointer;
}

@media screen and (max-width: 1010px) {
    .header__logo {
        margin: 18px 0 18px 30px;
    }
}

@media screen and (max-width: 740px) {
    .header__logo {
        margin: 18px 0 18px 14px; 
    }
}

