.notfound__button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    text-decoration: none;
    margin: 180px 0 0;
}

.notfound__button:hover {
    opacity: .7;
    transition: opacity .2s ease-in;
}