.student__portfolio-title {
    margin: 0 0 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}

@media screen and (max-width: 740px) {
    .student__portfolio-title {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 40px;
    }
}