.footer__title {
    margin: 80px auto 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #E8E8E8;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
}

@media screen and (max-width: 740px) {
    .footer__title {
        font-size: 12px;
        line-height: 15px;
    }
}