@import url(./__input/search__input.css);
@import url(./__button/search__button.css);
@import url(./__shortfilm/search__shortfilm.css);
@import url(./__checkbox-container/search__checkbox-container.css);
@import url(./__label/search__label.css);
@import url(./__checkbox/search__checkbox.css);
@import url(./__box/search__box.css);

.search {
    display: flex;
    flex-direction: column;
    margin: 80px 70px;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 1010px) {
    .search {
        margin: 80px 30px;
    }
}

@media screen and (max-width: 740px) {
    .search {
        margin: 80px 18px;
    }
}