.student__subtitle {
    margin: 0 0 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #111111;
    mix-blend-mode: normal;
}

@media screen and (max-width: 740px) {
    .student__subtitle {
        font-size: 11px;
        line-height: 16px;
    }
}