.header__burgermenu {
    width: 44px;
    height: 44px;
    background-image: url(../../../../images/bm_open.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin-top: -10px;
}