.header__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration: none;
}

.header__link:hover {
    opacity: .7;
    transition: opacity .2s ease-in;
}

@media screen and (max-width: 740px) {
    .header__link {
        font-size: 10px;
    }
}