.search__button {
    display: block;
    background-image: url(../../../../images/find.png);
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 4px 0 0 -40px;
    cursor: pointer;
}

.search__button:hover {
    opacity: .7;
    transition: opacity .2s ease-in;
}