.search__button {
    display: block;
    background-color: #3456F3;
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 48px;
    background-image: url(../../../../images/search_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 3px 0 0 -83px;
    cursor: pointer;
}

.search__button:hover {
    opacity: .7;
    transition: opacity .2s ease-in;
}