.footer__social-element {
    margin: 0 20px 0 0;
}

.footer__social-element:last-of-type {
    margin: 0;
}

@media screen and (max-width: 400px) {
    .footer__social-element {
        margin: 0 0 12px;
        display: flex;
        align-items: center;
    }
}