.about__element-content {
    max-width: 85%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@media screen and (max-width: 790px) {
    .about__element-content {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 740px) {
    .about__element-content {
        max-width: 100%;
        font-size: 11px;
        line-height: 16px;
    }
}