@import url(./__list/films__list.css);
@import url(./__description/films__description.css);
@import url(./__name/films__name.css);
@import url(./__save/films__save.css);
@import url(./__duration/films__duration.css);
@import url(./__more/films__more.css);
@import url(./__thumbnail/films__thumbnail.css);
@import url(./__element/films__element.css);
@import url(./__save/_unsaved/films__save_unsaved.css);
@import url(./__save/_saved/films__save_saved.css);
@import url(./__save/_delete/films__save_delete.css);

.films {
    margin: 0 70px;
}

@media screen and (max-width: 1010px) {
    .films {
        margin: 0 30px;
    }
}

@media screen and (max-width: 740px) {
    .films {
        margin: 0 18px;
    }
}