.films__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 32px;
    padding: 0;
}

@media screen and (max-width: 1270px) {
    .films__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 35px 24px;
    }
}

@media screen and (max-width: 1010px) {
    .films__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .films__list {
        grid-template-columns: repeat(1, 1fr);
    }
}