.notfound__error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
    color: #000000;
    margin: 20% 0 0;
}