.hero__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0 0 146px 70px;
    max-width: 310px;
}

@media screen and (max-width: 1010px) {
    .hero__subtitle {
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        margin: 0 auto 92px;
    }
}

@media screen and (max-width: 740px) {
    .hero__subtitle {
        margin: 0 auto 80px;
    }
}