.header__auth {
    margin: 21px 70px 21px 0;
}

@media screen and (max-width: 1010px) {
    .header__auth {
        margin: 21px 30px 21px 0;
    }
}

@media screen and (max-width: 740px) {
    .header__auth {
        margin: 21px 14px 21px 0;
    }
}