.student__portfolio-link {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0;
    padding: 0 0 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
}

.student__portfolio-link:hover {
    opacity: .5;
    transition: opacity .2s ease-in;
}

@media screen and (max-width: 740px) {
    .student__portfolio-link {
        font-size: 18px;
        line-height: 28px;  
    }
}